html,
body {
  width: 100%;
  height: 100%;
}

* {
  font-family: 微軟正黑體;
  margin: 0;
  padding: 0;
}
body {
  background-color: #a9ceae;
  border-top: solid 30px #3b3e3c;
  border-bottom: solid 30px #3b3e3c;

  box-sizing: border-box;
  overflow: hidden;
}

.mark {
  font-size: 230px;
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
}

.namecard {
  width: 500px;
  height: 300px;
  border-radius: 15px 5px 5px 15px;
  margin: auto;
  margin-top: 100px;
  padding-left: 100px;
  background-color: #3b3e3c;
  color: white;
  letter-spacing: 1px;
  box-shadow: 25px 25px 15px -20px rgba(0, 0, 0, 0.5);
  position: relative;
}

.namecard h2 {
  font-size: 30px;
}

.namecard h2 span {
  font-size: 17px;
  font-weight: 300;
}

.namecard h5 {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
}

.namecard p {
  font-size: 15px;
  font-weight: 300;
}

.hr1 {
  border: 2px solid gray;
  box-shadow: 0px 2px 5px black;
}

.gap {
  width: 35px;
  height: 240px;
  right: 540px;
  top: 30px;
  position: absolute;
  background-color: #a9ceae;
  border-radius: 15px 0px 0px 15px;
  box-shadow: inset 25px 20px 20px -20px rgba(0, 0, 0, 0.5);
}

.vline {
  position: absolute;
  height: 299px;
  right: 520px;
  border: solid 2px gray;
}

.screw {
  border: solid 2px gray;
  border-radius: 100%;
  position: absolute;
  width: 10px;
  height: 10px;
}

.screw1 {
  right: 500px;
  top: 15px;
}

.screw2 {
  right: 500px;
  top: 280px;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
